html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, a,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: unset;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 3.5vw;
	font-size: 2vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End css resset */
/* Adding general style to body */
body {
	font-family: 'Roboto Slab', serif;
}
/* Adding style to nav bar */
nav {	
	padding: 3% 0 2% 0;
	background-color: #548635;
	max-width: 1920px;
}
.navcontent {
    grid-template-columns: repeat(3, 1fr);
	display: grid;
}
.navcontent > li {
	padding: 3% 6% 6% 6%;
	background-color:#89ba66;
	color: #844587;
	display: flex;
	justify-content: center;
	font-weight: bold;
	text-decoration: underline 40%;
	text-underline-offset: 50%;
}
.navcontent > li :hover {
	cursor: pointer;
}
/* Adding style to Header */
header {
	font-family: 'Space Grotesk', sans-serif;
	display: flex;
	flex-wrap: wrap;
	color: #3a243b;
	justify-content: center;
	padding: 5%;
	animation: header-back 0.5s;
	max-width: calc(1920px - 10%);
}
header:hover {
	color: aliceblue;
	animation: header-go 0.5s forwards;
}
.a {
	width: 30%;
}
/* Adding animation to Header */
@keyframes header-back {
	0% {
		color: aliceblue;
		background-color: black;
	}
	100% {
		color: black;
		background-color: none;
	}
}
@keyframes header-go {
	100% {
		background-color: black;
		color: white;
	}
}
/* Adding style to Content */
section {
	padding: 3% 5%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    padding-bottom: 10%;
	max-width: calc(1920px - 10%);
}
.disclaimer {
	padding: 1% 5%;
	display: flex;
	justify-content: right;
	max-width: calc(1920px - 10%);
}
/* Adding style to Footer */
footer {
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #89ba66;
	padding: 2% 6%;
	text-align: center;
	max-width: calc(1920px - 12%);
}
.fcontent {
	width: 70%;
}
.fsocial-media {
	width: 30%;
}
.fcontent, .fsocial-media {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 3%;
}
footer > ul > li {
	align-self: center;
}
.fsocial-media > li > div {
	padding: 20%;
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;
	border: solid rgba(255, 255, 255, 0.651) 3px;
	border-radius: 50%;
	background-color: #89ba66;
}
.fa {
	animation: icons-back 0.5s forwards;	
}
.fa:hover {
	cursor: pointer;
	animation: icons-go 0.5s forwards;
}
/* Adding animation to Footer icons */
@keyframes icons-back {
	0% {
		background-color: #844587;
		color: #89ba66;
	}
	100% {
		background-color: #89ba66;
	}
}
@keyframes icons-go {
	0% {
		color: black;
	}
	100% {
		background-color: #844587;
		color: #89ba66;
	}
}
/* Adding style to links and titles */
a {
	font-family: 'Poppins', sans-serif;
	color: #844587;
	animation: a-back 0.5s forwards;
}
a:hover {
	animation:  a-go 0.5s forwards;
}
/* Adding animation to Links */
@keyframes a-go {
	100% {
		color: #d4d08c;
	}
}
@keyframes a-back {
	0% {
		color: #d4d08c;
	}
	100% {
		color: #844587;
	}
}
h1, h2, h3, h4 {
	justify-content: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
}
h1 {
	font-size: 5.5vw;
}
h2 {
	font-size: 4vw;
	font-weight: normal;
	align-content: center;
}
h2 > b {
	color: #844587;
	font-weight: bold;
}
h3 {
	font-size: 3.5vw;
	background-color: #d4d08c;
	padding: 4%;
}
h4 {
	font-size: 3vw;
	padding: 5%;
	background-color: #2d3b24;
	color: #89ba66;
}
/* Adding general style to images */
#logo {
	width: 50%;
}
#yellow, #strawberry, #vegan, #christmas,  #multiflavour, #mint, #serious, #banner {
	width: 100%;
}
/* Adding style to Banner */
header > .a {
	width: 30%;
}	
/* setting up media queries */
@media screen and (max-width: 768px) {
    /* Adding style to mobile version */
    body {
		font-size: 3.2vw;
		line-height: 6vw;
	}
	h1 {
		font-size: 8vw;
		line-height: 11vw;
		padding: 0 30%;
	}
	picture {
		margin-bottom: -1.8vw;
	}
	h2 {
		font-size: 6vw;
		line-height: 10vw;
	}
	h3 {
		font-size: 4.5vw;
	}
	h4 {
		font-size: 3.7vw;
	}
    /* Adding style to Nav */
    .navcontent {
        grid-template: repeat(3, 1fr) / 1fr;
    }
	/* Adding style to Gallery */
	section {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 2.5%;
		padding-bottom: 17.5%;
	}
    /* Adding style to Footer */
    footer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .fcontent, .fsocial-media {
        width: 100%;
    }
    .fsocial-media > li > div {
        padding: 10%;
    }
	#logo {
		width: 25%;
	}
}
